.title {
  font-size: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 1em 0;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;

  .button {
    padding: 0.7em 1.5em;
    color: white;
    border-radius: 3px;
    font-family: "Plus Jakarta Sans";
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--box-color);
    border: 1px solid #383838;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #333333;
    }
  }
}

.buttons > * + * {
  margin-left: 1em;
}
