.title {
    color: white;
    font-size: 14px;
    font-weight: 500
}

.projects {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media only screen and (max-width: 800px) {
    .projects {
        gap: 2em;
    }
}