.layoutTable {
    display: flex;
    gap: 5em;
    color: white;

    .leftContent {
        font-weight: 500;
        font-size: 14px;
        p {
            min-width: 135px;
            white-space: nowrap;
        }
    }

    .rightContent {
        font-weight: 300;
        font-size: 15px;
        letter-spacing: 0.005em;
        line-height: 23px;
    }
}

@media only screen and (max-width: 800px) {
    .layoutTable {
        flex-direction: column;
        gap: 1em;
        
        .rightContent#center {
            display: flex;
            justify-content: center;
        }
    }
}